.wrapper-first {
    width: 1140px;
    margin: 0 auto;
    margin-top: 36px;
    border-bottom: 1px solid #7a7a7a;
    padding-bottom: 35px;
}
.mountains-wrapper {
    width: 1140px;
    margin: 0 auto;
    height: 595px;
}